extends layout

block contenido
	.contenido-principal
		h1 #{nombrePagina} - #{proyecto.nombre}
		 
		form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
			.campo
				label(for="tarea")
				input.nombre-tarea(type="text" name="tarea" placeholder="Nombre tarea")
			.campo.enviar
				input.boton.nueva.tarea(type="submit" value="Agregar")
		.listado-pendientes
			ul
				if(tareas.length > 0)
					each tarea in tareas 
						li.tarea(data-id=tarea.id) 
							p= tarea.tarea
							.acciones
								if tarea.estado 
									i.far.fa-check-circle.completo
								else
									i.far.fa-check-circle
								i.fas.fa-trash
				else 
					p No hay tareas asignadas para este proyecto
		.avance
			h2 Avance del Proyecto
			#barra-avance.barra-avance
				#porcentaje.porcentaje
		//acciones 
		.contenedor-acciones
			a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar Proyecto
			button#eliminar-proyecto(data-id=proyecto.id type="button" class="boton eliminar") Eliminar Proyecto
		//tarea.estado  es un valor que puede ser 1 o 0, entonces al evaluarse en un if el valor puede ser true o falso, de esa manera se sabe si la tarea esta completa